# Virtual Environments
ansible-venv/
venv/
.venv/
env/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Git and Metadata
.git/
.gitignore
.github/

# IDE settings
.vscode/
.idea/

# Local build artifacts
dist/
build/
*.egg-info/


GIT-1/
linux-1/
node_modules/
package.json/
package-lock.json/
bash-1/
.pytest_cache