name: "Node.js CI pipeline"

on:
    push:
        branches:
            - main


jobs:
    build-and-test:
        runs-on: "ubuntu-latest"
        steps:
            - name: Clone the repository
              uses: actions/checkout@v2

            - name: "Setup node.js"
              uses: actions/setup-node@v6
              with:
                node-version: '20'

            - name: "Check node version"
              run: node --version


            - name: Install dependencies
              run: npm ci

            - name: Run test
              run:  npm test